.git
.gitignore
README.md
Dockerfile
.dockerignore
*.env
.env
node_modules
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
.coverage
.coverage.*
.cache
.pytest_cache
.hypothesis
.DS_Store
.vscode
.idea
*.swp
*.swo
*~