version: '3.8'

services:
  web-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: streamlit_app:latest
    container_name: streamlit_app_container
    ports:
      - "8501:8501"
    volumes:
      - ./web_app:/app/web_app
      - ./app:/app/app
      - ./data:/app/data
    environment:
      - PYTHONPATH=/app
    restart: unless-stopped